body {
  margin-top: 0;
  margin-left: 0;
}

html {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  color: seashell;
  text-align: center;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

/*Header*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  height: 69px;
  border-bottom: 1px solid white;
  width: 100%;
  background-color: black;
}

.logo {
  display: flex;
  flex-grow: 1;
}

header img {
  padding-left: 10px;
  height: 50px;
  max-width: 240px;
}

header a {
  color: white;
  text-decoration: underline;
  padding-right: 10px;
  padding-left: 10px;
}

header nav {
  margin-right: 10px;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* to avoid mess on a larger screen, correct me if I'm wrong here ->*/
  min-width: 1000px;
}


/* MISSION */

.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 700px;
  width: 1200px;
  margin-bottom: 20px;
  background-image: url("../images/img-mission-background.jpg");
  margin-top: 69px;
}

.mission .text-content {
  background-color: black;
}

/*Tea of the Month*/

.featured {
  display: flex;
  width: 1000px;
  margin-top: 60px;
}

.featured h2 {
  margin-bottom: 0;
}

.teas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.tea h4 {
  margin-top: 10px;
}

.tea img {
  height: 200px;
  width: 300px;
  padding-right: 15px;
  padding-left: 15px;
}

.tea {
  margin-top: 20px;
}

/*Locations*/

.locations {
  height: 500px;
  width: 1200px;
  background-image: url("../images/img-locations-background.jpg");
  margin-top: 40px;
}

.location-items {
  display: flex;
  align-content: space-around;
  justify-content: center;
  flex-direction: row;
}

.location {
  width: 300px;
  opacity: 1;
  margin: 5px 20px;
  padding-top: 14px;
  padding-bottom: 4px;
  background-color: black;
}

.location p {
  padding: 10px 10px;
}

/*Footer*/
footer {
  width: 100%;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.contact {
  height: 200px
}

.contact h5 {
  margin: 20px;
}

#copyright {
  text-align: left;
}
